*{
  box-sizing: border-box;
}

.catTitle{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 16.66%;
  height: 100px;
  float: left;
  background-color: rgb(0, 0, 255);
  padding: 10px;
  border: 10px solid black;
  color: white;
  text-align: center;
  border-radius: 3px;
}

.question-row{
  width: 16.66%;
  float: left;
}
